<!DOCTYPE html>
<html lang="en">

<head>
  <title>Registration Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
</head>

<body>
  <div id="app" class="container mt-5">
	<form @submit.prevent="submitForm" method="post" action="http://mercury.swin.edu.au/it000000/formtest.php">
	  <fieldset>
		<legend>Personal Information</legend>
		<div class="form-group">
		  <label for="firstName">First Name:</label>
		  <input type="text" id="firstName" v-model="firstName" class="form-control" required>
		  <small class="text-danger" v-if="errors.firstName">{{ errors.firstName }}</small>
		</div>
		<div class="form-group">
		  <label for="lastName">Last Name:</label>
		  <input type="text" id="lastName" v-model="lastName" class="form-control" required>
		  <small class="text-danger" v-if="errors.lastName">{{ errors.lastName }}</small>
		</div>
		<div class="form-group">
		  <label for="userName">User Name:</label>
		  <input type="text" id="userName" v-model="userName" class="form-control" :minlength="3" required>
		  <small class="text-danger" v-if="errors.userName">{{ errors.userName }}</small>
		</div>
		<div class="form-group">
		  <label for="password">Password:</label>
		  <input type="password" id="password" v-model="password" class="form-control" :minlength="8" required>
		  <small class="text-danger" v-if="errors.password">{{ errors.password }}</small>
		</div>
		<div class="form-group">
		  <label for="confirmPassword">Confirm Password:</label>
		  <input type="password" id="confirmPassword" v-model="confirmPassword" class="form-control" required>
		  <small class="text-danger" v-if="errors.confirmPassword">{{ errors.confirmPassword }}</small>
		</div>
		<div class="form-group">
		  <label for="email">Email:</label>
		  <input type="email" id="email" v-model="email" class="form-control" required>
		  <small class="text-danger" v-if="errors.email">{{ errors.email }}</small>
		</div>
	  </fieldset>

	  <fieldset>
		<legend>Contact Information</legend>
		<div class="form-group">
		  <label for="address">Street Address:</label>
		  <input type="text" id="address" v-model="address" class="form-control" maxlength="40">
		</div>
		<div class="form-group">
		  <label for="suburb">Suburb:</label>
		  <input type="text" id="suburb" v-model="suburb" class="form-control" maxlength="20">
		</div>
		<div class="form-group">
		  <label for="postcode">Postcode:</label>
		  <input type="text" id="postcode" v-model="postcode" class="form-control" pattern="[0-9]{4}" required>
		  <small class="text-danger" v-if="errors.postcode">{{ errors.postcode }}</small>
		</div>
		<div class="form-group">
		  <label for="mobile">Mobile Number:</label>
		  <input type="tel" id="mobile" v-model="mobile" class="form-control" pattern="04[0-9]{8}" required>
		  <small class="text-danger" v-if="errors.mobile">{{ errors.mobile }}</small>
		</div>
	  </fieldset>

	  <div class="form-group mt-3">
		<button type="submit" class="btn btn-primary" :disabled="hasErrors">Submit</button>
	  </div>
	</form>

	<div class="mt-3">
	  <button class="btn btn-link" @click="toggleTerms">Show Terms and Conditions</button>
	  <p v-show="showTerms">Terms and conditions text goes here.</p>
	</div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src=appregistration2.js></script>
</body>

</html>
